# Ignore executable and build files
flowEstimate
obj/
*.o

# Ignore visual studio files
*.vcxproj
*.vcxproj.user
*.sln

# Optional: Ignore input files
# *.dat
#
# Ignore output files
Current
Data/
Data.old/
# *.out
